<html>

<head>
	<title>审核报告</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style>
		ul {
			width: 100%;
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li {
			padding: 5px 10px;
			margin: 0px;
		}

		.w100 {
			width: 100%;
		}
	</style>
</head>

<body>
	<ul>
		<li class='w100'>
			<h2>概要信息</h2>
		</li>
		<li>
			<ul>
				<li class='w100'>
					<h3>应用信息</h3>
				</li>
				<li>IPA名称: YppLife</li>
				<li>IPA大小: 209867601byte</li>
				<li>二进制大小: 113575504byte</li>
				<li>应用名: 比心陪练</li>
				<li>版本号: 6.2.0(6202020072314361)</li>
				<li>BundleID: com.yitantech.gaigaienter</li>
				<li>最小系统版本: 10.0</li>
				<li>支持设备: iPhoneOS</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class='w100'>
					<h3>签名信息</h3>
				</li>
				<li>是否签名: 是</li>
				<li>证书名称: inHorse</li>
				<li>AppID: AA8PQMDZ75.com.yitantech.gaigaienter</li>
				<li>TeamName: Fish Bubble Information Technology Co., Ltd</li>
				<li>平台: iOS</li>
				<li>UUID: f0072234-7b31-4430-a43b-7866b4dd92a6</li>
				<li>证书类型: iPhone Distribution</li>
				<li>创建时间: 2020-06-30 15:42:32.000</li>
				<li>过期时间: 2021-06-30 15:42:32.000</li>
			</ul>
		</li>
	</ul>
	<ul>
		<li class='w100'>
			<h2>依赖库</h2>
		</li>
		<li>系统依赖库: libc++.1.dylib, libiconv.2.dylib, libresolv.9.dylib, libsqlite3.dylib, libz.1.dylib, AVFoundation,
			Accelerate, AdSupport, AssetsLibrary, AudioToolbox, CFNetwork, CoreAudio, CoreFoundation, CoreGraphics,
			CoreLocation, CoreMedia, CoreMotion, CoreTelephony, CoreText, Foundation, GLKit, ImageIO,
			LocalAuthentication, MapKit, MobileCoreServices, OpenGLES, Photos, QuartzCore, Security,
			SystemConfiguration, UIKit, VideoToolbox, WebKit, UserNotifications, MediaPlayer, libxml2.2.dylib, StoreKit,
			libobjc.A.dylib, libSystem.B.dylib, AVKit, AuthenticationServices, CoreData, CoreImage, CoreVideo, EventKit,
			ExternalAccessory, JavaScriptCore, MessageUI</li>
		<li>自定义依赖库: HelpDesk, Hyphenate, MapiSignFramework, MediaPlayerFramework, MediaStreamerFramework,
			MercuryFramework, NIMAVChat, NIMSDK, NMC, NMCBasicModuleFramework, ZegoLiveRoom</li>
	</ul>
	<ul>
		<li>系统扩展: YppPushService</li>
	</ul>
	<ul>
		<li class='w100'>
			<h2>权限使用</h2>
		</li>
		<li>
			<ul>
				<li class='w100'>
					<h3>警告</h3>
				</li>
				<li>定位:
					未使用`定位相关API`，但，引入了相关库依赖[CoreLocation]，声明了相关权限，info.plist->NSLocationWhenInUseUsageDescription,NSLocationAlwaysUsageDescription.
				</li>
				<li>FaceID: 未使用`NFC API`，但，引入相关库依赖[LocalAuthentication]</li>
				<li>Motion: 未使用`Motion API`，但引入相关库依赖[CoreMotion]</li>
				<li>MediaLibrary: 未使用`Media API`，但引入相关库依赖[MediaPlayer]</li>
				<li>AppleMusic: 未使用`AppleMusic API`，但引入相关库依赖[StoreKit]，但声明了相关权限，info.plist->NSAppleMusicUsageDescription
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class='w100'>
					<h3>错误</h3>
				</li>
				<li>日历: 相关符号[EKEventStore]</li>
			</ul>
		</li>
	</ul>
</body>

</html>
